<?xml version="1.0" encoding="UTF-8"?>

<suite name="MyTestNG" verbose="1">

    <!--    <listeners>
            &lt;!&ndash;- base.ListenerExtentReports &ndash;&gt;
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
        </listeners>-->

    <test name="MyTest">
        <!--<packages>-->
            <!--<package name = "main.java_base.Net"/>-->
        <!--</packages>-->
        <classes>
            <class name="Net.OpenURL">
                <!--<methods>-->
                    <!--<include name="OpenURL"/>-->
                <!--</methods>-->
            </class>
        </classes>
    </test>

</suite>